.App{
  width: 90%;
  margin: 0 auto;
}

button{
  cursor: pointer;
}
.text-center{
  text-align: center;
}

.main-content{
  display: flex
}

.userform{
  display: flex;
  flex-direction: column;
  width: 40%;
  row-gap: 10px;
}
.userform button,
.userform input {
  height: 50px;
  padding: 0 10px;
}
.userform textarea{
  height: 100px;
  padding: 10px;
}

.result{
  padding-left: 100px;
  width: 50%;
}

.result table{
  width: 100%;
  border-collapse: collapse;
}

.result table tr,
.result table{
  border: 1px solid #ddd;
  padding: 8px;
}


.result td, .result th {
  border: 1px solid #ddd;
  padding: 8px;
}

.delete,
.edit{
cursor: pointer;
margin: 0 5px;
background: #9999;
padding: 5px 10px;
}